<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytescout.Spreadsheet" version="2.70.1553" targetFramework="net452" />
  <package id="CsvHelper" version="7.0.1" targetFramework="net452" />
  <package id="Obfuscar" version="2.2.31" targetFramework="net452" developmentDependency="true" />
</packages>